<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Bot Interface</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo-container">
                <img src="/static/images/logo/geologix-logo.png" alt="Geologix Logo" class="navbar-logo">
            </a>
            <nav class="navbar-links">
                <a href="/feedback">📝 Feedback Form</a>
                <a href="/chathistory">💬 Chat Bot Service</a>
                <a href="/knowledge-tree">🌳 Software Knowledge Tree</a>
            </nav>
        </div>
    </div>

    <div class="content">
    <h1 style="text-align: center; line-height: 2.0; font-family:'Courier New'">AI Bot Application</h1>
    
    <div class="section">
        <h1 style="text-align: center; line-height: 2.0; font-family:'Courier New'">About GEO</h1>
        <p style="font-family: 'Times New Roman'; text-align: justify; hyphens: auto; -webkit-hyphens: auto; -ms-hyphens: auto;">
            GEO is a versatile app that helps users to create and visualise plots from proposal charts to well summary logs, development charts, drilling time charts, core analysis plots, and gas ratio logs. GEO can guide and assist with the drilling operation.
            Each template provide information for plotting curves and calculating after loading data files where the data can be applied for planning wells as reference between the simulated and actual data points.   
        </p>
        <br>
        <p style="font-family: 'Times New Roman'; text-align: justify; hyphens: auto; -webkit-hyphens: auto; -ms-hyphens: auto;">
            For example, Open ODF file processed in real-time for data analysis and interpretation applies correlation analysis, drilling log updates, and data visulisations to guide key decision-makings. 
        </p>
        <p style="font-family: 'Times New Roman'; text-align: justify;">
            For more information, visit the 
            <a href="https://www.geologix.com/geo/" target="_blank" style="color: #2E86DE; text-decoration: underline;">
                official GEO application page
            </a>.
        </p>
    </div>

    <script nonce="{{ g.nonce }}">
        function toggleSection(event) {
            let content = event.nextElementSibling;
            content.style.display = content.style.display === "none" ? "block" : "none";
        }

        function toggleDropdown() {
            const menu = document.getElementById("dropdownMenu");
            menu.style.display = menu.style.display === "flex" ? "none" : "flex";
        }

        function updateFileName() {
            const fileInput = document.getElementById("questionFileInput");
            const fileNameDisplay = document.getElementById("file-name");

            if (fileInput.files.length > 0) {
                fileNameDisplay.textContent = fileInput.files[0].name;
            } else {
                fileNameDisplay.textContent = "No file chosen";
            }
        }
    </script>
</body>
</html>